<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Quiz - Countries</title>
        <link rel="stylesheet" href="style/index.css" type="text/css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body onload="loadBody()">
        <div class="container">
            <h3 id="score"></h3>
            <div id="settings_button">
                <button id="open_settings"><i class="fa fa-2xl fa-cog"></i></button>
            </div>
            <div id="settings_modal" class="modal">
                <div class="settings_content">
                    <span class="close_settings">&times;</span>
                    <br>
                    <div id="settings_checkboxes">
                        <table>
                            <tr>
                                <th>Regions</th>
                                <th>Help</th>
                                <th>Modes</th>
                                <th>Coming Soon</th>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        Africa:
                                        <input type="checkbox" id="africa" value="Africa" checked>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        Flag:
                                        <input type="checkbox" id="show_flag" value="show_flag">
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        reversed:
                                        <input type="checkbox" id="reversed" value="reversed">
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        America:
                                        <input type="checkbox" id="americas" value="Americas" checked>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        Capital:
                                        <input type="checkbox" id="show_capital" value="show_capital">
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        helps first:
                                        <input type="checkbox" id="helps_first" value="helps_first">
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        Asia:
                                        <input type="checkbox" id="asia" value="Asia" checked>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        Population:
                                        <input type="checkbox" id="show_population" value="show_population">
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        Europe:
                                        <input type="checkbox" id="europe" value="Europe" checked>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        Languages:
                                        <input type="checkbox" id="show_languages" value="show_languages">
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        Oceania:
                                        <input type="checkbox" id="oceania" value="Oceania" checked>
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <h2 id="country_text"></h2>
            <div class="content">
                <div class="input_field">
                    <label>
                        <input type="text" id="answer_field" placeholder="Your Guess">
                        <h3 id="required_guesses"></h3>
                    </label>

                </div>
            </div>

            <div id="flag">
                <img id="flag_img">
            </div>

            <div class="country_information">
                <h3 id="capital_information"></h3>
                <h3 id="population_information"></h3>
                <h3 id="languages_information"></h3>
            </div>


            <div id="next_country_bar" hidden>
                <div id="country_bar"></div>
            </div>


        </div>

        <div id="footer">
            <div id="made-by">
                @Made by&#160<a href="https://github.com/taktischer" target="__blank">https://github.com/taktischer</a>
            </div>
        </div>

        <script src="scripts/index.js"></script>
    </body>
</html>
