body {
    background-color: #2b2a33;
    color: #e2e2e2;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
    max-height: 100%;
}

#title_bar {
    padding-top: 2%;
    text-align: center;
}

.container {
    background-color: #111111 !important;
    padding: 3em 2.5em;
    max-width: 85%;
    width: 60vw;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    border-radius: 0.6em;
    box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
}

#country_text {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #e2e2e2;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
}

.input_field {
    padding-top: 1%;
    text-align: center;
}

*:focus {
    outline: none;
    border-color: #e2e2e2;
}

#answer_field {
    background-color: #2b2a33;
    color: #e2e2e2;
    width: 25%;
    max-width: 50%;
    font-size: large;
    text-align: center;
    padding: 0.8em 0.2em;
    border-radius: 0.3em;
}

#flag_img {
    border-radius: 0.6em;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#flag {
    padding-top: 1%;
    text-align: center;
}


.country_information {
    text-align: left;
    float: left;
}

#region_selection {
    position: absolute;
    float: right;
    text-align: right;
    right: 2%;
}
